body{
    background-color: #2A2B2D;
    text-align: center;
}

#container{
    width: 626px;
    height: 417px;
    background-image: url(w5.png);
    display: inline-block;
    border: 5px solid #DFB662;
}

.title{
    color: #DFB662;
}

td{
    padding: 6px;
    text-align: left;
}

label{
    color: white;
}

table{
    margin: 100px 10px;
}